<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">

.bla{
}

html, body {
    margin: 0;
    padding: 0;
}

.Poster{
    width: 320px;
    height: 200px;
    
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.GreyDiv{
    background-color: #222222;
    
    width: 320px;
    height: 400px;
    
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 15%;
}

.InnerDiv{
    text-align: center;
}

.MovieName{
    
    display: inline;    
    color: #ffffff;
    font-family: 'Odibee Sans', cursive;
}

.MovieSpecifics{
    text-align: center;
    color: #ffffff;
    font-family: 'Odibee Sans', cursive;
}

.MainMoreButton{    
    font-family: 'Odibee Sans', cursive;
    font-size: 20px;
    color: #ffffff;
    outline: none;
    border: none;
    
    height: 40px;
    width: 160px;
    border-radius: 100%;
    
    transform: rotate(270deg);

    position: absolute;
    margin-top:70px;
    right: -22px;
}

.MainWatchButton{
    font-family: 'Odibee Sans', cursive;
    font-size: 20px;
    color: #ffffff;
    outline: none;
    border: none;
    
    height: 40px;
    width: 160px;
    border-radius: 100%;
    
    transform: rotate(90deg);
    
    position: absolute;
    margin-top:70px;
    left: -22px;
}

button:focus {
        box-shadow: 0 0 0 2pt black;
    }






